* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
  /* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
}

.main-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.main-card {
  height: 60%;
}
.card-left {
  background-color: hsl(244, 38%, 16%);
  height: 100%;
  width: auto;
  border-radius: 10px 0 0 10px;
  padding: 50px;
  color: hsl(0, 0%, 100%);
}
.card-left h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.card-left h1 span {
  color: hsl(277, 64%, 61%);
}
.card-left > p {
  font-size: 15px;
  margin: 0;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 2rem;
}
.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: auto;
}
.statistics p {
  margin: 0;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
}
.statistics h2 {
  font-size: 25px;
  margin: 0;
}
.card-right {
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsl(277, 64%, 61%);
  opacity: .6;
  border-radius: 0 10px 10px 0;
}
.card-right img {
  border-radius: 0 10px 10px 0;
  width: 100%;
}

@media (max-width: 480px) {
  /* .card-left {
    order: 2 !important;
  }
  .card-right {
    order: 1 !important;
  } */
}
